header {
  background-color: rgb(35, 35, 35);
  height: 4rem;
  justify-content: space-between;
  padding: 5px 20px;
  top: 0;
}

.display {
  align-items: center;
  display: flex;
}

.gap-5 {
  gap: 5px;
}

.gap-15 {
  gap: 15px;
}
