:root {

  --table-header-color: rgb(55, 55, 55);

  --table-main-color: rgb(81, 81, 81);
}

.table {
  background-color: var(--table-header-color);
  border: 1px solid rgb(28, 28, 31);
  width: 95vw;
}

.thead {
  background-color: var(--table-header-color);
  height: 3rem;
}

.tr th {
  max-width: 10vw;
  min-width: 6rem;
}

.tbody th {
  background-color: var(--table-main-color);
  height: 2rem;
}
